.app {
  background-color: #DCD4D2;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  background-color: #087481;
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px #297b92;
  padding: 5px 10px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}

.button:hover {
  box-shadow: 0 1px #297b92;
  top: 1px;
}

.button:active {
  box-shadow: none;
  top: 1px;
}

/* Navbar */

.navbar {
  background-color: darkseagreen;
  display: flex;
  align-items: center;
}

.navigation {
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: .5rem 0rem;
  color: black;
  margin: 10px;
}

.navigation a {
  color: black;
  margin: 20px;
  font-size: 20px;
}

.logout-button {
  background-color: indigo;
  color: white;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  font-family: inherit;
  margin-right: 20px;
}

/* Books */

.books-cont {
  margin: 10px;
  border-radius: 10px;
  border: solid indigo;
}

.books-cont h2 {
  text-align: center;
}

.booklist {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr
}

.bookcard {
  margin: 5px;
  padding: 5px;
  border: solid darkslategray;
  background-color: lemonchiffon;
}

.bookcard h3 {
  text-align: center;
  margin: 2px;
}

.bookcard p {
  text-align: center;
  margin: 2px;
}

.new-book {
  font-size: small;
  text-align: center;
  border-bottom: solid indigo;
  margin: 10px
}

.submit-new {
  font-family: inherit;
  margin: 5px;
}

.submit-new input {
  margin: 5px;
  display: inline-flex;
  padding: 2px;
  font-family: inherit;
}

.submit-new label {
  margin: 5px;
  font-size: 14px;
  font-family: inherit;
}

.submit-new select {
  margin: 5px;
  display: inline-flex;
  padding: 2px;
  font-family: inherit;
}

/* list Styles */
.list-cont {
  margin: 10px;
  border-radius: 10px;
  border: solid indigo;
}

.list-cont h2 {
  text-align: center;
}

.lists-holder {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr
}

.listcard {
  margin: 5px;
  padding: 5px;
  border: solid darkslategray;
  background-color: lavender;
  display: inline-block;
}

.listcard h3 {
  text-align: center;
  margin: 2px;
}

.listcard span {
  font-weight: bold;
  display: inline;
}

.listcard p {
  margin: 2px;
}

.list-link button{
  background: none!important;
  padding: none;
  border: none;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  margin: none;
}



/* Search component */

.author-search {
  color: red
}